@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --restaurant-header: 450px;
}
.restaurant-header-img {
  height: var(--restaurant-header);
}

.restaurant-header-logo {
  height: var(--restaurant-header / 2);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
